.mod-teambuilder th {
    text-align: left;
    vertical-align: text-bottom;
    padding-right: 10px;
}

.mod-teambuilder form.addNewCriterion input.text,
.mod-teambuilder form.addNewCriterion select {
    width: 200px;
}

.mod-teambuilder .description {
    padding: 10px;
    border: 1px solid black;
    margin: 15px 10px;
}

.path-mod-teambuilder #newQuestionForm {
    background-color: #F9F9F9;
    border: 1px solid #999;
    padding: 5px;
    margin: auto;
    display: inline-block;
    text-align: left;
}

.path-mod-teambuilder .answers ul li {
    list-style: none;
}

.path-mod-teambuilder .question {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 10px;
    background-color: #FFF;
}

.path-mod-teambuilder .question table {
    border-collapse: collapse;
    width: 100%;
}

.path-mod-teambuilder .question ul {
    margin: 0px;
    margin-left: 2em;
}

.path-mod-teambuilder .question .handle {
    background-image: url('../../mod/teambuilder/css/handle.png');
    background-position: center center;
    width: 23px;
    padding: 3px;
    background-repeat: no-repeat;
}

.path-mod-teambuilder .question .edit {
    text-align: right;
}

.path-mod-teambuilder .question .edit a {
    cursor: pointer;
}

.path-mod-teambuilder .question .type {
    font-size: 0.9em;
    color: #999;
}

.path-mod-teambuilder .question .questionText {
    font-weight: bold;
    font-size: 1.1em;
}

.path-mod-teambuilder #savingIndicator {
    color: #F00;
}

.path-mod-teambuilder .question .response {
    display: inline-block;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.path-mod-teambuilder .ui-state-error .type {
    color: #FC0;
    font-weight: bold;
}

.path-mod-teambuilder .ui-state-error .type strong {
    text-decoration: underline;
}

/* Build Teams page */

.path-mod-teambuilder #unassigned {
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    margin: 5px;
    padding: 5px;
    position: relative;
}

.path-mod-teambuilder #unassigned h2 {
    margin: 2px 2px 2px 25px;
}

.path-mod-teambuilder #unassigned button {
    position: absolute;
    right: 5px;
    top: 5px;
}

.path-mod-teambuilder .answered {
    color: green !important;
}

.path-mod-teambuilder .unanswered {
    color: red !important;
}

.path-mod-teambuilder .student {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: default;
}

.path-mod-teambuilder .team {
    margin: 5px;
    padding: 5px;
    border: 1px solid #CCC;
    background-color: #F9F9F9;
    display: inline-block;
    vertical-align: top;
}

.path-mod-teambuilder .team h2 {
    margin: 2px;
}

.path-mod-teambuilder .sortable {
    min-height: 20px;
}

.path-mod-teambuilder .criterionWrapper {
    text-align: center;
    margin: 3px 10px;
    display: none;
}

.path-mod-teambuilder .criterion {
    display: inline-block;
    border: 1px solid #CCC;
    margin: auto;
    width: 800px;
    padding: 5px;
    padding-bottom: 16px;
    position: relative;
}

.path-mod-teambuilder .criterionDelete {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    background-image: url('../../mod/teambuilder/css/close.png');
    background-repeat: no-repeat;
    background-attachment: right top;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.path-mod-teambuilder .criterion ul {
    text-align: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px 10px 5px;
}

.path-mod-teambuilder .subcriterionWrapper {
    position: relative;
}

.path-mod-teambuilder .boolOper {
    background: no-repeat center bottom url('../../mod/teambuilder/css/bool.png');
    color: #000;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    height: 18px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
}

.path-mod-teambuilder .selected {
    color: #008000;
}

.path-mod-teambuilder #createGroupsForm {
    border: 1px solid #A00;
    padding: 5px;
    background-color: #FEE;
    width: 50%;
    margin: 5px auto;
}

.path-mod-teambuilder #createGroupsForm p {
    margin: 2px;
    font-size: 1.1em;
    font-weight: bold;
}

.path-mod-teambuilder #createGroupsForm button {
    width: 85px;
    font-size: 1em;
}

.path-mod-teambuilder .runningCounter {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #AAA;
    font-weight: bold;
    font-size: 1.5em;
}

.path-mod-teambuilder .studentResponse {
    position: absolute;
    background-image: url('../../mod/teambuilder/css/b75.png');
    border: 1px solid white;
    padding: 10px;
    color: #FFF;
}

.path-mod-teambuilder .studentResponse table {
    border-collapse: collapse;
}

.path-mod-teambuilder .studentResponse table td, .studentResponse table th {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.path-mod-teambuilder .studentResponse table th {
    vertical-align: middle;
}

.path-mod-teambuilder .add_sub {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 16px;
    height: 16px;
    padding: 5px;
}

/* Stepper */

.path-mod-teambuilder .stepper > span {
    border: 1px solid #BBB;
    background-color: #EEE;
    width: 17px;
}

.path-mod-teambuilder .stepper > span > span {
    border-width: 0px 1px;
    border-color: #CCB;
    border-style: solid;
    padding: 0px 5px;
    background-color: #FAFAEE;
}

.path-mod-teambuilder .ui-stepper-up {
    background-image: url('../../mod/teambuilder/css/up.png');
    background-color: #EEE;
    background-position: center center;
    background-repeat: no-repeat;
    width: 17px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
}

.path-mod-teambuilder .ui-stepper-down {
    background-image: url('../../mod/teambuilder/css/down.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 17px;
    height: 8px;
    cursor: pointer;
    display: inline-block;
}

.path-mod-teambuilder .centered {
    text-align: center;
}

.path-mod-teambuilder .padded {
    margin: 10px;
}

.path-mod-teambuilder .creategroups {
    font-size: 1.5em;
    font-weight: bold;
}